.center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.outer-rectangle {
	height: 700px;
	width: 400px;
	background-color: #292b2f;
	border-radius: 2%;
}

.top-rectangle {
	height: 80px;
	width: 400px;
	background-color: #e584c6;
	border-radius: 2% 2% 0% 0%;
}

.top-center {
	margin: 0;
	position: absolute;
	top: 5%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.circle {
	height: 100px;
	width: 100px;
	background-color: #292b2f;
	border-radius: 50%;
}

.inner-circle {
	height: 85px;
	width: 85px;
	background-color: red;
	border-radius: 50%;
}

.circle-center {
	margin: 0;
	position: absolute;
	top: 20%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.inner-rectangle {
	height: 450px;
	width: 350px;
	background-color: #17181a;
	border-radius: 2%;
}

.inner-center {
	margin: 0;
	position: absolute;
	top: 63%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
