.gradient-background {
	background: linear-gradient(288deg, #e2e570, #70e5d4, #d970e5, #e5707f);
	background-size: 240% 240%;
	animation: gradient-animation 10s ease infinite;
	height: 100vh;
}

@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

a:link {
	color: white;
}

a:visited {
	color: white;
}

/* ====== Entire Outer Rectangle ====== */
.center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.outer-rectangle {
	height: 700px;
	width: 400px;
	background-color: #292b2f;
	border-radius: 10px;
	flex: none;
}

/* ====== Top Pink Rectangle ====== */
.top-rectangle {
	height: 80px;
	width: 400px;
	background-color: #e584c6;
	border-radius: 10px 10px 0px 0px;
}

.top-center {
	margin: 0;
	position: absolute;
	top: 5%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* ====== Avatar ====== */
.circle {
	height: 100px;
	width: 100px;
	background-color: #292b2f;
	border-radius: 50%;
}

.inner-circle {
	height: 85px;
	width: 85px;
	background-image: url('/src/img/Me8.png');
	background-size: 85px;
	border-radius: 50%;
}

.circle-center {
	margin: 0;
	position: absolute;
	top: 10%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* ====== Inner Rectangle ====== */
.inner-rectangle {
	height: 470px;
	width: 350px;
	background-color: #17181a;
	border-radius: 2%;
}

.inner-center {
	margin: 0;
	position: absolute;
	top: 61%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* ====== Socials ====== */

.social {
	color: white;
	background-color: #17181a;
	padding: 4%;
	border-radius: 5px;

	position: relative;
	border: none;
	transition: 0.4s ease-in;
	z-index: 1;
}

.social:hover {
	cursor: pointer;
	background: #4fd7fb;
	box-shadow: 0 0 5px #4fd7fb, 0 0 25px #4fd7fb, 0 0 50px #4fd7fb,
		0 0 100px #4fd7fb;
}

.socials-center {
	margin: 0;
	position: absolute;
	top: 22%;
	left: 50%;
	display: flex;
	justify-content: space-between;
	width: 30%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* ====== Name ====== */
.name {
	color: white;
	font-weight: bold;
	font-size: larger;
	position: absolute;
	left: 5%;
}

/* ====== Horizontal Line ====== */
hr {
	position: absolute;
	top: 10%;
	left: 5%;
	width: 90%;
	height: 1px;
	border-width: 0;
	background-color: #47484a;
}

/* ====== About ====== */
.about-title {
	color: white;
	font-weight: bold;
	font-size: small;
	position: absolute;
	left: 5%;
	top: 11%;
	text-transform: uppercase;
}

.about {
	color: #e4e7e8;
	font-size: small;
	position: absolute;
	left: 5%;
	top: 17%;
	width: 90%;
}

/* ====== Education ====== */
.education-title {
	color: white;
	font-weight: bold;
	font-size: small;
	position: absolute;
	left: 5%;
	top: 37%;
	text-transform: uppercase;
}

.baruch {
	color: white;
	font-size: small;
	position: absolute;
	left: 5%;
	top: 42%;
	width: 90%;
}

.nycct {
	color: white;
	font-size: small;
	position: absolute;
	left: 5%;
	top: 51%;
	width: 90%;
}

span {
	color: gray;
	font-style: italic;
}

/* ====== Skills ====== */
.skills-title {
	color: white;
	font-weight: bold;
	font-size: small;
	position: absolute;
	left: 5%;
	top: 61%;
	text-transform: uppercase;
}

.skills-align {
	margin: 0;
	position: absolute;
	top: 68%;
	left: 5%;
	display: flex;
	/* justify-content: space-between; */
	width: 85%;
	flex-wrap: wrap;
	gap: 2%;
}

.skills {
	color: #d6d8db;
	background-color: #292b2f;
	padding: 2% 3% 2% 2%;
	border-radius: 5px;
	font-size: small;
	margin: 5px 0px 0px 0px;
}

/* ====== Roles ====== */
.roles-title {
	color: white;
	font-weight: bold;
	font-size: small;
	position: absolute;
	left: 5%;
	top: 75%;
	text-transform: uppercase;
}

.roles-align {
	margin: 0;
	position: absolute;
	top: 82%;
	left: 3.3%;
	display: flex;
	width: 85%;
	flex-wrap: wrap;
}

.role {
	color: #d6d8db;
	background-color: #292b2f;
	padding: 2% 3% 2% 2%;
	border-radius: 5px;
	font-size: small;
	margin: 5px 0px 0px 6px;
	height: 20px;
}
