html,
body {
	background-color: #36393f;
}

/* ====== Entire Outer Rectangle ====== */
.center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.outer-rectangle {
	height: 700px;
	width: 400px;
	background-color: #292b2f;
	border-radius: 2%;
	flex: none;
}

/* ====== Top Pink Rectangle ====== */
.top-rectangle {
	height: 80px;
	width: 400px;
	background-color: #e584c6;
	border-radius: 2% 2% 0% 0%;
}

.top-center {
	margin: 0;
	position: absolute;
	top: 5%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* ====== Avatar ====== */
.circle {
	height: 100px;
	width: 100px;
	background-color: #292b2f;
	border-radius: 50%;
}

.inner-circle {
	height: 85px;
	width: 85px;
	background-image: url('/src/img/Me8.png');
	background-size: 85px;
	border-radius: 50%;
}

.circle-center {
	margin: 0;
	position: absolute;
	top: 10%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* ====== Inner Rectangle ====== */
.inner-rectangle {
	height: 470px;
	width: 350px;
	background-color: #17181a;
	border-radius: 2%;
}

.inner-center {
	margin: 0;
	position: absolute;
	top: 61%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* ====== Socials ====== */

.social {
	color: white;
	background-color: #17181a;
	padding: 4%;
	border-radius: 25%;

	position: relative;
	border: none;
	transition: 0.4s ease-in;
	z-index: 1;
}
/* .social:hover {
	cursor: pointer;
	background: #ff96ad;
	box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 50px #ff96ad,
	0 0 100px #ff96ad;
} */
.social:hover {
	cursor: pointer;
	background: #4fd7fb;
	box-shadow: 0 0 5px #4fd7fb, 0 0 25px #4fd7fb, 0 0 50px #4fd7fb,
		0 0 100px #4fd7fb;
}

.socials-center {
	margin: 0;
	position: absolute;
	top: 22%;
	left: 50%;
	display: flex;
	justify-content: space-between;
	width: 30%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* ====== Name ====== */
.name {
	color: white;
	font-weight: bold;
	font-size: larger;
	position: absolute;
	left: 5%;
}

/* ====== Horizontal Line ====== */
hr {
	position: absolute;
	top: 10%;
	left: 5%;
	width: 90%;
	height: 1px;
	border-width: 0;
	background-color: #47484a;
}

/* ====== About ====== */
.about-title {
	color: white;
	font-weight: bold;
	font-size: small;
	position: absolute;
	left: 5%;
	top: 11%;
	text-transform: uppercase;
}

.about {
	color: white;
	font-size: small;
	position: absolute;
	left: 5%;
	top: 17%;
}

/* ====== Roles ====== */
.roles-title {
	color: white;
	font-weight: bold;
	font-size: small;
	position: absolute;
	left: 5%;
	top: 75%;
	text-transform: uppercase;
}

.roles-align {
	margin: 0;
	position: absolute;
	top: 82%;
	left: 5%;
	display: flex;
	justify-content: space-between;
	width: 85%;
	flex-wrap: wrap;
}

.role {
	color: #d6d8db;
	background-color: #292b2f;
	padding: 2% 3% 2% 2%;
	border-radius: 7%;
	font-size: small;
	margin: 5px 0px 0px 0px;
}
